.hf{
    height: 100px;
    background-color: rgb(178, 127, 255);
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 15px;
}
.nav{
    height: 70px;
    background-color: aquamarine;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
}
.section1{
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
}
.content1{
    height: 420px;
    background-color: aquamarine;
    align-content: center;
    align-items: center;
    width: 280px;
   margin-left: 15px;
    margin-top: 15px;
    
  
    
}
.mainclass{
    height: 420px;
    background-color: aquamarine;
    align-content: center;
    align-items: center;
    margin-left: 15px;
    width: 60%;
    margin-top: 15px;
    
    
    
}
.content2{
    height: 420px;
    background-color: aquamarine;
    align-content: center;
    align-items: center;
    margin-top: 15px;
   
    margin-left: 15px;
    width: 280px;
  
  
}
.footer1{
    height: 80px;
    background-color: rgb(168, 127, 255);
    align-content: center;
    align-items: center;
   
    margin-top: 10px;
    text-align: center;
   
    margin-left: 15px;
}
